
<div class = "box">
  <h2 class = "new_Book">Editing Book</h2>

  <% if @book.errors.any? %>
    <p>error of validation</p><!-- バリデーション -->
  <% end %>

  <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %><!--　DB操作があるときはこの記述 -->
    <div class = "field">
      <p>Title</p>
      <%= f.text_field :title %><!--モデル名をもとにdbにアクセス -->
    </div>
    <div class = "area">
      <p>Body</p>
      <%= f.text_area :body %>
    </div>

    <div class = "update_btn"><%= f.submit 'Update Book' %></div><!-- ブロック要素のためのdiv -->
  <% end %>


<ul>
    <li><%= link_to "Show", book_path(@book.id) %></li>
    <li> | </li>
    <li class = "back_btn"><%= link_to "Back", books_path %></li>
</ul>
</div>
