


<div class = "data">
  <%= flash[:success] %>
  <p class = data-contents><b>Title:</b><%= @book.title %><br>
     <b>Body:</b><%= @book.body %><br>
  </p>
  <ul>
    <li><%= link_to "Edit", edit_book_path(@book.id) %></li>
    <li> | </li>
    <li class = "back_btn"><%= link_to "Back", books_path %></li>
  </ul>
</div>